html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(132deg, #3F468A 27.06%, rgba(147, 136, 173, 0.00) 123.56%);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

.main_content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.header_menu {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    background: #353535;
    box-shadow: 0px 7px 8px 0px rgba(10%, 10%, 10%, 0.25);
    color: white;
    & td {
        padding: 30px;
        text-align: center;
    }
}
