.tasks_table {
    & table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    & th, td {
        padding: 15px;
        color: #fff;
    }
    & td {
        background-color: rgba(90, 89, 89, 0.5);
    }
    & th {
        text-align: left;
    }
    & thead th {
        font-size: 20px;
        background: #412985;
    }
}

.tasks_table tbody tr {
    &:hover {
        background-color: rgba(255,255,255,0.3);
    }
}

.tasks_table tbody td {
    position: relative;
    font-size: 16px;
    &:hover {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(255,255,255,0.2);
            z-index: -1;
        }
    }
}