<!doctype html>
<html lang='en-US'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>{{ title }}</title>
        {% block head_addons %}{% endblock %}
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap' rel='stylesheet'>
        <link rel='stylesheet' href='{{ url_for("static", filename="main.css") }}'>
        <link rel='stylesheet' href='{{ url_for("static", filename="forms.css") }}'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
